<!DOCTYPE html>
<html>
  <% include head %>
  <body>
    <form action="/upload" method="post" enctype="multipart/form-data">
      <input type="file" name="upload">
      <input type="submit" value="Send">
    </form>
  </body>
</html>